.wrapper {
  width: 100%;
  margin-top: 4rem;
}

.header {
  margin-bottom: 1.5rem
}

.listEmpty {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  gap: 1rem
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.headerWrapper span {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: bold;
}